
/**Only the full image, overrides padding**/
html, body {
    margin: 0;
    padding: 0;
  }
/**The Backround of the website**/
.backround {
    width: 50%;
    min-height:80vh;
    background-image:url(compresspng/MainBackround-min.png);
    background-position: center;
    background-size: cover;
    background-color: rgb(223, 165, 190);

}
/**Search Boxes**/
.SearchBars {
    width: 105%;
    height: auto;
    align-content: space-evenly;
    margin-top: 30%;
    margin-left: 50%;
}
.Buttons {
    width: 100%;
    height: auto;
    align-content: center;
    margin-top: 5%;
    margin-left: 50%;
    display: flex;
    justify-content: center;
    justify-self: center;
}
/**Controls the overall google search bar **/
.search-bar{
    max-width: 800vh;
    max-height: fit-content;
    position: static;
    top: 0px;
    left: 0;
    /**background: rgba(0, 0, 0, 0.2);**/
    background: rgb(112,239,235);
background: linear-gradient(90deg, rgba(112,239,235,1) 0%, 
          rgba(242,42,13,0.6786064767703957) 35%,
          rgba(249,217,6,0.7122199221485469) 69%,
          rgba(0,255,46,0.5413515748096114) 100%);
    display: flex;
    border-radius: 100px;
    padding: 1px 20px;
    backdrop-filter: blur(4px) saturate(180%);
    align-self: center;
}
/**Words**/
.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 15px 10px;
    font-size: 18px;
    color: black;
   font-family: 'Nunito', sans-serif;
}
::placeholder {
    color: antiquewhite;
}
/**Search Button**/
.search-bar button img{
    width: 20px;
}
.search-bar button{
    background: transparent;
    border: 1;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border-color: antiquewhite;
    cursor: pointer;
    align-self: center;
}
/**Controls the overall Youtube Search bar**/
.youtube-search-bar{
    max-width: 100%;
    max-height: fit-content;
    position: static;
    margin-top: 3.5%;
   /** background: linear-gradient(#e664647b, #9198e576);**/
   background: rgb(239,112,112);
   background: linear-gradient(90deg, rgba(239, 112, 112, 0.678) 0%, 
        rgba(216, 98, 47, 0.53) 35%, 
        rgba(255, 0, 0, 0.481) 100%);
    display: flex;
    border-radius: 50px;
    padding: 1px 20px;
    backdrop-filter: blur(4px) saturate(180%);
    justify-self: center;
    margin-left: 9%;
    margin-right: 9%;
}
/**Words**/
.youtube-search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 12px 10px;
    font-size: 18px;
    color: black;
   font-family: 'Nunito', sans-serif;
}
::placeholder {
    color: antiquewhite;
}
/**Search Button**/
.youtube-search-bar button img{
    width: 20px;
}
.youtube-search-bar button{
    background: transparent;
    border: 2;
    border-radius: 50%;
    width: 38px;
    height: 35px;
    border-color: antiquewhite;
    cursor: pointer;
    align-self: center;
    
}
/**Lower Buttons**/
    /**Canvas Button**/
    .canvasButton{
        display: grid;
        justify-content: center;
        padding-left: 3%;
        padding-right: 3%;
    }
    .canvasButton button{
        background: transparent;
        border: 0;
        width: 10%;
        height: 10%;
        cursor: pointer;
        position: relitive;

    }
    h1.cascadiaText{
        position: relitive;
        font-size: small;
        color: rgb(86, 85, 83);
        cursor: default;
        
    }
    /** Lofi button**/
    .YoutubeButton{
        display: grid;
        justify-content: center;
        padding-left: 3%;
        padding-right: 3%;
    }
    .YoutubeButton button{
        background: transparent;
        border: 0;
        width: 10%;
        height: 10%;
        cursor: pointer;
        position: static;
        
    }
    h1.youtubeText {
        position: static;
        font-size: small;
        color: rgb(86, 85, 83);
        cursor:default;
    }
    /**tyler wallace statistics Button**/
    .StatButton{
        display: grid;
        justify-content: center;
        padding-left: 3%;
        padding-right: 3%;

    }
    .StatButton button{
        background: transparent;
        border: 0;
        width: 10%;
        height: 10%;
        cursor: pointer;
        position: static;

    }
    h1.MathText {
        position: static;
        font-size: small;
        color: rgb(86, 85, 83);
        cursor:default;

    }
